body {
    background-color: #292929;
    color: rgb(255, 255, 255);

    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: open-sans;
    src: url("../assets/Fonts/Open_Sans/OpenSans-norm.ttf");
}

.text-small {
    font-size: 14px;
}